{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        {% if wizyta.dane_pacjenta == current_user %}
          <a class="mr-2" href="{{ url_for('pacjenci.wizyty_pacjenta', pesel=wizyta.dane_pacjenta.pesel) }}">{{ wizyta.dane_pacjenta.pesel }}</a>
          <small class="text-muted">{{ wizyta.data_wizyty.strftime('%Y-%m-%d') }}</small>
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('wizyty.update_wizyta', wizyta_id=wizyta.id) }}">Zaaktualizuj wizytę</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Usuń</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ wizyta.nazwa_wizyty }}</h2>
      <p class="article-content">{{ wizyta.kategoria }}</p>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Usuń</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('wizyty.delete_wizyta', wizyta_id=wizyta.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
